extends layout

block content
  p Events
  table
    thead
    tbody
    for object in events
      tr
        each val, key in object
          if (object.hasOwnProperty(key) && (key == 'manage_queue_ids' || key == '_id' || key == 'manage_ids') )
            th= key  
      tr
        each val, key in object
           
          if (object.hasOwnProperty(key))
            if (key == 'manage_queue_ids')
              td 
                select#manage_queue_ids
                  each variable in val
                    option(value=variable) #{variable}
            else if (key == '_id') 
              td#_id= val  
                button(onclick='approve(\'' + val + '\')') Approve
            else if (key == 'manage_ids')
              td= val  

  

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  script.
    websocket = new WebSocket("ws://192.168.1.33:3000/");
    var approve = function(eventId) { // change to submit
      var e = document.getElementById("manage_queue_ids");
      var manageQueueId = e.options[e.selectedIndex].value;
      //console.log(manageQueueId)
      websocket.send(JSON.stringify({
        command: 'events',
        eventId: eventId,
        decision: 'approve',
        manageQueueId: manageQueueId
      }) );
    }
    
    websocket.onmessage = function(evt) {
      console.log('onmessage', evt)
      // if success -> make alert
    };
    websocket.onerror = function(evt) {
      console.log('onerror', evt)
    };



