extends layout

block content
  p Events
  table
    thead
    tbody
    for object in events
      tr
        each val, key in object
          if (object.hasOwnProperty(key) && (key == 'manage_queue_ids' || key == '_id' || key == 'manage_ids') )
            th= key  
      tr
        each val, key in object
          if (object.hasOwnProperty(key))
            if (key == 'manage_queue_ids')
              td 
                select#manage_queue_ids
                  each variable in val
                    option(value=variable) #{variable}
            else if (key == '_id') 
              td#_id= val  
                button(onclick='approve(\'' + val + '\')') Approve
            else if (key == 'manage_ids')
              td= val  

  

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  script.
    var approve = function(eventId) { // change to websocket
      var e = document.getElementById("manage_queue_ids");
      var manageQueueId = e.options[e.selectedIndex].value;
      console.log(manageQueueId)

      $.ajax({
          type: "POST",
          url: '/v1/events/'+ eventId + '/approve/' + manageQueueId,
          //- dataType: "text",
          success: function(msg) {
              // callback(msg)
              
              alert(msg);
          }
      });
    }



